/*全局设置*/
*{
    margin: 0;
    padding: 0;
    text-decoration:none;

}
li{list-style-type:none}
a:link,a:visited,a:hover{text-decoration:none; outline:none;}

body{margin:0;
    padding:0;
    width:100%;
    font-size:12px;
    font-family: arial,"Lantinghei SC","Microsoft Yahei";
    background: linear-gradient(to right, #ddfafa, #fae1f2);

}
/*头部部分*/
.ass{
    color: #1f1d1d;
}
.ass:hover{ color: #CC0000}

.headeraa{
    margin-right: 10px;
}
img, input {
    vertical-align: middle;

}

.headint{
    height: 55px;
}
.headsp{
    background-color:#B4D5F5 ;
}
/*产品分类*/
.nav-cont li{
    float: left;
    height: 50px;
    line-height: 50px;
    color: #1f1d1d;

    width: 80px;
    text-align: center;

}

.secdivquan {
    height: 50px;
    width: 135px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #DF6126;
}
.secdiv{
    width: 90%;
    height: 50px;

}
.nav-cont{
    height: 50px;

}
.nav-ul li{
    line-height: 50px;
    font-size: 18px;
    margin-right: 10px;
    position: relative;

}
.nav-ul li a{
    color: #1f1d1d;
}


/*二级菜单*/
.erjidiv{
    width: 100%;

}

.erjiul{
    position: absolute;
    left: 82px;
}

.erjiul li a{
    display: block;
    position: relative;
    background-color: #202020;
    color: #FFFFFF;
    width:135px;
    height:40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    margin: 0;
    z-index: 80;
    border-bottom: 1px #D4D4D4 solid;
}

.erjiul li  div{
    color: #202020;
    width: 800px;
    height: 399px;
    background-color: #f7ffe8;
    z-index: 100;
    position: relative;
    left: 135px;
    top:-40px;
    display: none;
}

#erjidiv1 span{

    padding: 5px;
    color: #686166;
    border: 0.5px #686166 solid;
    border-radius: 3px;
    margin: 9px;

}
#erjidiv2 span{
    padding: 3px;
    color: #686166;
    border: 0.5px #686166 solid;
    border-radius: 3px;
    margin: 5px;
}
#erjidiv3 span{
    padding: 3px;
    color: #686166;
    border: 0.5px #686166 solid;
    border-radius: 3px;
    margin: 5px;
}
#erjidiv4 span{
    padding: 3px;
    color: #686166;
    border: 0.5px #686166 solid;
    border-radius: 3px;
    margin: 3px;
}
#erjidiv5 span{
    padding: 3px;
    color: #686166;
    border: 0.5px #686166 solid;
    border-radius: 3px;

}
#erjidiv6 span{
    padding: 3px;
    color: #686166;
    border: 0.5px #686166 solid;
    border-radius: 3px;

}
#erjidiv7 span{
    padding: 3px;
    color: #686166;
    border: 0.5px #686166 solid;
    border-radius: 3px;

}
#erjidiv8 span{
    padding: 3px;
    color: #686166;
    border: 0.5px #686166 solid;
    border-radius: 3px;

}
#erjidiv9 span{
    padding: 3px;
    color: #686166;
    border: 0.5px #686166 solid;
    border-radius: 3px;

}
#erjidiv10 span{
    padding: 3px;
    color: #686166;
    border: 0.5px #686166 solid;
    border-radius: 3px;

}

#erjidiv1 h4{color: red}
#erjidiv1 div{
    display: block;
    position: absolute;
    left: 15px;
    top:0px;
    padding: 0;
    width: 700px;
}

#r11{
    width: 690px;
    height: 200px;
    position: absolute;
    top: 0px;
}
.r12{
    background-color: blue;
    width: 690px;
    height: 200px;
}

#erjidiv2 span{
    padding: 3px;
    color: #686166;
    border: 0.5px #686166 solid;
    border-radius: 3px;

}

#erjidiv2 h4{color: red}
#erjidiv2 div{
    display: block;
    position: absolute;
    left: 15px;
    top:0px;
    padding: 0;
    width: 700px;
}

#erjidiv3 h4{color: red}
#erjidiv3 div{
    display: block;
    position: absolute;
    left: 15px;
    top:0px;
    padding: 0;
    width: 700px;
}
#erjidiv4 h4{color: red}
#erjidiv4 div{
    display: block;
    position: absolute;
    left: 15px;
    top:0px;
    padding: 0;
    width: 700px;
}

#erjidiv5 h4{color: red}
#erjidiv5 div{
    display: block;
    position: absolute;
    left: 15px;
    top:0px;
    padding: 0;
    width: 700px;
}

#erjidiv6 h4{color: red}
#erjidiv6 div{
    display: block;
    position: absolute;
    left: 15px;
    top:0px;
    padding: 0;
    width: 700px;
}

#erjidiv7 h4{color: red}
#erjidiv7 div{
    display: block;
    position: absolute;
    left: 15px;
    top:0px;
    padding: 0;
    width: 700px;
}

#erjidiv8 h4{color: red}
#erjidiv8 div{
    display: block;
    position: absolute;
    left: 15px;
    top:0px;
    padding: 0;
    width: 700px;
}

#erjidiv9 h4{color: red}
#erjidiv9 div{
    display: block;
    position: absolute;
    left: 15px;
    top:0px;
    padding: 0;
    width: 700px;
}

#erjidiv10 h4{color: red}
#erjidiv10 div{
    display: block;
    position: absolute;
    left: 15px;
    top:0px;
    padding: 0;
    width: 700px;
}













/*轮播图*/
.lunbodiv{
    /*display: inline;*/
    float: left;
    position: absolute;
    top: 233px;
    left: 0px;
    height: 399px;
    overflow: hidden;
    z-index: 20;
    width: 100%;
    border-top: 2px #FF4600 solid;
}
.lunbodiv img{
    width: 1350px;
    height: 400px;
    position: relative;
   top: -20px;
}

/*右侧悬浮框*/
#youcediv{
    width: 210px;
    height: 360px;
    background-color: #FCFCFC;
    position: absolute;
    z-index: 100;
    top: 250px;
    right: 80px;
    border-radius: 10px;
}
#youcediv h4{
    margin-top: 20px;
    margin-left: 20px;
    color: #FF4600;
}

#youcediv p{
    margin-left: 18px;
}
#ycimgdiv{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px black solid;
    overflow: hidden;
    margin-left: 15px;

}
#ycd{
    position: relative;;
}
#ycimgdiv img{
    width: 47px;

    margin: 3px;
}
#ycd p{
    position: absolute;
    top:6px;
    right: 30px;
    font-weight: bold;
    font-size: 14px;
}
.ycd1{
    display: block;
    position: absolute;
    top:30px;
    right: 60px;
    margin-bottom: 5px;

}
.ycd1 a{
    color: #FF4600;
    font-size: 14px;
}
.ycd1 a:hover{color: #2e8ece}
#ycbqdiv ul li{
    width: 60px;
    text-align: center;
}
#ycbqdiv ul{
    position: relative;
    width: 200px;
    left: 5px;
}
#ycbqdiv ul li a{
    font-size: 13px;
    color:#D4237A ;
}
.ycache{
    margin-left: 10px;
}
/*右侧小分页*/
#home1 a{
    display: block;
    color: #1f1d1d;
    font-size: 12px;

}
#profile1 a{
    display: block;
    color: #1f1d1d;
    font-size: 12px;

}
#messages1 a{
    display: block;
    color: #1f1d1d;
    font-size: 12px;
}
#home1 a:hover{ color: #CC0000;}
#profile1 a:hover{ color: #CC0000;}
#messages1 a:hover{ color: #CC0000;}

/*动态效果*/
#dtdiv{
    width: 100%;
    height: 480px;
    position: relative;
    top: 385px;
    background: linear-gradient(to right, #ddfafa, #fae6cc);
}
.hh01{ position: absolute; left: 65px;}
.hr01{ float: left; width: 80%; height: 6px; position: absolute; border-top: 1px #C1C1C1 solid;
    border-bottom:1px #C1C1C1 solid; top: 30px; left: 220px; }
.hr02{ float: left; width: 80%; height: 6px; position: absolute; border-top: 1px #C1C1C1 solid;
    border-bottom:1px #C1C1C1 solid; top: 40px; left: 220px; }

.prod{ width: 100%;
    height: 331px;

    display: flex;
    flex-direction: row;
    justify-content:center;
    position: relative;
    top:100px;
}
.prod div{ width: 178px; height: 331px; background-color: #F0E7C9; padding: 15px; position: relative;}


#prod_h1{position: absolute; top: 0px; display: block;}
#prod_h2{position: absolute; top: 0px; display: block;}
#prod_h3{position: absolute; top: 0px; display: block;}
#prod_h4{position: absolute; top: 0px; display: block;}
#prod_h5{position: absolute; top: 0px; display: block;}


.dtimg{width: 130px; height: 180px; position: absolute; left: 0px; top:10px;}


#prod_d1{ border-radius: 20%; border:1.5px #7B7B7B solid; width: 100px; height: 50px;
    color: #424242; text-align: center;text-align: center;
    line-height: 25px; position: absolute; opacity: 0; font-size: 20px;}


#prod_d2{ border-radius: 20%; border:1.5px #7B7B7B solid; width: 100px; height: 50px;
    color: #424242; text-align: center;text-align: center;
    line-height: 25px; position: absolute; opacity: 0; font-size: 20px;}


#prod_d3{ border-radius: 20%; border:1.5px #7B7B7B solid; width: 100px; height: 50px;
    color: #424242; text-align: center;text-align: center;
    line-height: 25px; position: absolute; opacity: 0; font-size: 20px;}


#prod_d4{ border-radius: 20%; border:1.5px #7B7B7B solid; width: 100px; height: 50px;
    color: #424242; text-align: center;text-align: center;
    line-height: 25px; position: absolute; opacity: 0; font-size: 20px;}

#prod_d5{ border-radius: 20%; border:1.5px #7B7B7B solid; width: 100px; height: 50px;
    color: #424242; text-align: center;text-align: center;
    line-height: 25px; position: absolute; opacity: 0; font-size: 20px;}


.prod  img{
    width: 130px; height: 180px; position: absolute; left: 0px; top:100px;
}
.prod h3{
    position: absolute;
    top: 200px;
}

.prod p{
    position: absolute;
    top: 70px;
}

/*秒杀模块*/
#msdiv{
    width: 100%;
    height: 410px;
    position: relative;
    top: 365px;
    background: linear-gradient(to right, #ddfafa, #faeae5);
}

#msimgdivs{
    border-top: 2px black solid;
    padding-top: 15px;
    width: 90%;
    position: relative;
    left: 60px;
}
#mserdiv h3{
    margin-left: 60px;
}
#msimgdiv img{
    width: 270px;
    height: 300px;
    position: relative;
    left: 120px;
    margin-right: 8px;

}
#msbut1{
    position: absolute;
    left: 145px;
    top:305px;
    width: 220px;
    height: 25px;
    line-height: 13px;
    background-color:#EEEEEE ;
    opacity: 0.9;
}
#msbut2{
    position: absolute;
    left: 423px;
    top:305px;
    width: 220px;
    height: 25px;
    line-height: 13px;
    background-color:#EEEEEE ;
    opacity: 0.9;
}
#msbut3{
    position: absolute;
    left: 708px;
    top:305px;
    width: 220px;
    height: 25px;
    line-height: 13px;
    background-color:#EEEEEE ;
    opacity: 0.9;
}
#msbut4{
    position: absolute;
    left: 988px;
    top:305px;
    width: 220px;
    height: 25px;
    line-height: 13px;
    background-color:#EEEEEE ;
    opacity: 0.9;
}

/*品质生活*/
#pzdiv{
    width: 100%;
    height: 550px;

    background: linear-gradient(to right, #ddfafa, #fae1f2);
    position: relative;
    top: 365px;
}
#pzdiv h2{
    position: absolute;
    left:15%;
    color: #7B7B7B;
}

#pzdiv1{
    width: 92%;
    background: linear-gradient(to right, #ddfafa, #faeae5);
    height:550px;
    position: relative;
    top:65px;
    left: 0px;
    padding-left: 30px;
}

.rowdiv div{
    width: 380px;
    overflow: hidden;
    margin-bottom: 14px;


}
.pzimgs{
   position: absolute;
    right: -130px;
}



.rowdiv div div{
    width: 140px;
    height: 170px;
    opacity: 0.9;
    position: absolute;
    top: 0px;
}
.pzdiro{
    overflow: hidden;
    position: relative;

}
.pzimgs{
    overflow: hidden;
}
.rowdiv div img{
    position: relative;
}

.pzdi01{  background-color:  #73BC90; }
.pzdi02{  background-color:  #DDD27A; }
.pzdi03{  background-color:  #5D5467; }
.pzdi04{  background-color:  #498C95; }
.pzdi05{  background-color:  #D88E28; }
.pzdi06{  background-color:  #876450; }
.pzdi07{  background-color:  #B04942; }
.pzdi08{  background-color:  #6E356E; }

.pzdi02 h5{  margin-left: 10px;  }
.pzdi03 h5{  margin-left: 28px;  }
.pzdi04 h5{  margin-left: 12px;  }
.pzdi05 h5{  margin-left: 10px;  }
.pzdi06 h5{  margin-left: 28px;  }


.pzdiro .asspzdiv h2{
    font-weight:bold;
    font-size: 18px;
    color: white;
    border-top: 3px white solid;
    border-bottom: 3px white solid;
    width: 100px;
    height: 45px;
    position: absolute;
    top: 25px;
}
.asspzdiv h5{
    position: absolute;
    color: white;
    top: 100px;
    text-align:center;
}
.asspzdiv h2 p{
    color: white;
    text-align:center;
    line-height: 43px;
}
/*品质右下两个小模块*/
#pzssdiv1{
    width: 200px;
    height: 75px;
    position: absolute;
    top: 95px;
}
#pzssdiv1 h2{
    font-weight:bold;
    font-size: 16px;
    color: white;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    width: 100px;
    height: 35px;
    position: absolute;
    left: 48px;
    top:-7px;
}
#pzssdiv1 h2 p{
    color: white;
    text-align:center;
    line-height: 35px;
}
#pzssdiv1 h5{
    position: absolute;
    color: white;
    top: 45px;
    left: 50px;
}



#pzssdiv2{
    width: 200px;
    height: 75px;
    position: absolute;
    top: 95px;
}
#pzssdiv2 h2{
    font-weight:bold;
    font-size: 16px;
    color: white;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    width: 100px;
    height: 35px;
    position: absolute;
    left: 48px;
    top:-7px;
}
#pzssdiv2 h2 p{
    color: white;
    text-align:center;
    line-height: 35px;
}
#pzssdiv2 h5{
    position: absolute;
    color: white;
    top: 45px;
    left: 58px;
}


/*品质轮播模块*/
#pzlunbo{
    width: 420px;
    height: 354px;
    /*background: linear-gradient(to right, #ddfafa, #fae1f2);*/
    background-color: #32282E;
    float: left;
    position: absolute;
    top: 65px;
    right: 87px;
    overflow: hidden;
}

.pzlbdiv .item img{
    width: 420px;
    height: 336px;
    position: relative;
    top: 30px;

}

#pzbt p{
    color: white;
    font-size:20px;
    position: absolute;
    margin-left: 20px;
    top:10px;

}
#pzbt span{
    color: white;
    position: relative;
    top:20px;
    left: 300px;
}

/*分类列表*/
#fldiv{
    width: 100%;
    height: 400px;
    position: relative;
    top: 430px;

}
#fldiv h3{
    margin-left: 60px;
}

#fldivs{
    border-top: 2px black solid;
    padding-top: 15px;
    width: 90%;
    position: relative;
    left: 60px;
}

.flrowdiv{
    position: relative;
    left: 100px;
    width: 90%;
}

.flrowdiv div{
    position:relative ;
    left: 0px;
    width: 220px;
    height: 320px;
    margin-right: 20px;
    background-color: white;

}
.flrowdiv div img{
    position: absolute;
    left: 0px;
}

.flrowdiv div p{
    position: absolute;
    top: 230px;
}

.flrowdiv div h4{
    position: absolute;
    top: 280px;
    color: #fa5b1f;
}


/*底部文字*/
#dbdiv{
    width: 100%;
    height: 420px;
    background-color: #EAEAEA;
}

.dbrodiv{
    width: 90%;
    height: 70px;
    position: absolute;
    left: 100px;
    border-bottom: 1px #C7CCD1 solid;

}
.dbrodiv div{

    margin-right: 50px;
}
.dbrodiv div p{
    font-size: 20px;
    font-weight:bold;

}


#dbzjdiv{
    position: absolute;
    top:100px;

}
#dbzjdiv ul{
    float: left;
    margin-left: 50px;
    margin-right: 100px;


}

#dbzjdiv ul h4{
    color: black;
    font-weight:bold;
    font-size: 18px;
}
#dbzjdiv ul li{
    margin-top: 3px;
    color: #918888;
}
/*最下*/
#dbzhdiv{
    width: 90%;
    border-top: 1px #C7CCD1 solid;
    position: absolute;
    left: 80px;
}

#dydiv ul li{
    float: left;
    margin-right: 15px;
    color: #625A60;
}

#zjdiv {
    width: 90%;

    position: absolute;
    top: 40px;
    left: 80px;
}

#zjdiv ul li{
    float: left;
    margin-right: 15px;
    color: #625A60;
}

#zjdiv2 {
    width: 90%;
    position: absolute;
    top: 70px;
    left: 60px;
}
#zjdiv2 ul li{
    float: left;
    margin-right: 15px;
    color: #625A60;
}

#zjdiv3 {
    width: 90%;
    position: absolute;
    top: 90px;
    left: 150px;
}
#zjdiv3 ul li{
    float: left;
    margin-right: 15px;
    color: #625A60;
}

