*{      /*清楚原有的格式*/
    padding: 0;
    margin: 0;
    border:0;
    list-style-type:none;
}
a,img{border:0;}
body{font:12px/180% microsoft yahei;}
a{text-decoration:none;cursor:pointer}
.clear{clear: both;}


ol,ul{   /*群组选择器*/
    list-style: none;
}
img, input {
    vertical-align: middle;}
input.add,input.min{width:15px}
#dingbu{
    width:100%;
    height:25px;
    background-color: rgba(175,135,232,0.06);
    font-size: 14px;
}
.cjh{
    color: #4F5155;
}
.cjh:hover{
    color: #ff6600;
}
#kefu{
    height:25px;
    /*overflow: hidden;*/
    position: relative;
}
#kefu_list{
    position:absolute;
    display: none;
    width: 129px;
    z-index: 1000;
    height: 100px;
    background:  rgba(175,135,232,0.06);
    border-top: hidden;

}


/*搜索框*/

.search-bar form{border:2px solid  #ff6600; max-width:670px;}
.search-bar input{padding-left:5px;height:40px;width:70%;  outline:none; font-size:12px; border:none}
#sousuo { width:30%;height:40px;border:none;float:right;background: #ff6600 none repeat scroll 0% 0%;
    color: #F5F5F2;cursor:pointer;border-radius:0px 0px ;font-size:15px;}

.nav.white{background: none;}
.nav.white .logoBig{ display:block;float:left;height:56px;width:115px; margin:0px auto; margin-left:2%}
.nav.white .logoBig img{width:100%; margin-top: 15px}
.search-bar {height: 40px;margin: 0px 50px 0 60px; padding-left:3%;}
.nav.white{ position:relative;top:0px;z-index:0;}

.search-bar{height:50px; padding: 20px 70px 0 230px; margin:auto;}

/*可选规格*/
.theme-signin-left{padding-bottom:30px;max-height:250px ;overflow-y: scroll;background: #fff;}
.theme-options{display: block;overflow: hidden;padding-left: 10px;padding-right:10px ;}
.theme-signin-left .cart-title{font-size:14px ;font-weight: 600;}
.theme-signin-left .sku-line{float: left; margin:10px;margin-left:0;border-radius:5px ; background:#f5f5f5 ;padding:5px;}
.theme-signin-left .sku-line.selected{background:#f50;color: #fff;}

.theme-signin .btn{width:100%;font-size: 16px;padding:5px ;}
.btn-op{position:fixed;left:0;bottom: 0;width:100% ;}
.iteminfo_parameter dt.theme-login {text-align: left;margin-left:-30px ;width:100% ;}
.theme-login .cart-title{float: left;margin-right:10px ;}

/*商品规格*/
.theme-signin-left{padding-top:10px ;float: left;max-width:300px;max-height: none;overflow: visible;}
.theme-options .cart-title{margin-top:10px ;}
.theme-options ul{float: left;}

.theme-signin-left .sku-line {background: none;border-radius:0 ;margin:5px;padding:3px;border:2px solid #F5F5F5 ;color:#000 ;}
.theme-signin-left .sku-line.selected {background:none;color:#000;border: 2px solid #ff6600;}

/*选中样式*/
.sku-line{position: relative;}
/*.theme-options li a:hover{ border:2px solid #ff6600; padding:0 5px; text-decoration:none;}*/
.theme-options li i{ position:absolute; width:10px; height:10px; font-size:0; line-height:0; right:0px; bottom:0px; background:url(../images/sys_item_selected.gif) no-repeat right bottom; z-index:99; display:none;}
/*.theme-options li.selected a{ border:2px solid #ff6600; padding:0 5px;}*/
.theme-options li.selected i{ display:block;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}
ul,li,ol{ list-style:none;}
dl,dd{ margin:auto;}

.am-btn {font-size:12px ;}

html{width:100%;
    height:100%;
    -ms-text-size-adjust:none;
    -webkit-text-size-adjust:none;
    -moz-text-size-adjust:none;
    -o-text-size-adjust:none;
}
/*text-size-adjust不管屏幕怎么变文字大小不变*/

body{margin:0;
    padding:0;
    width:100%;
    font-size:12px;
    font-family: arial,"Lantinghei SC","Microsoft Yahei";

}


a:link,a:visited,a:hover{text-decoration:none; outline:none;}
/*所有超链接不要下划线*/

*, *:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
/*任何标签、包括它前面、后面生成的内容都不要影响盒子的边框*/

.clear{ clear:both}

img, input {
    vertical-align: middle;}
a {
    color: #000;
    text-decoration: none;
}


.spatic{width:100%; height:16px;}
h5{float: right;color: #666;padding-right:20px;}

input.add,input.min{width:15px}
.last{border-right:none !important;}

#ullist{
	float: left;
	text-align: center;
	width: 100%;
	left:auto;
	right:auto;
	font-size: large;
	
}



#ullist li{
	height: 30px;
	width:33.333%;
	border-top: 2px solid #F03726;
	float: left;
	background: #FFAD6D;
}
#ullist li a{
	display: block;
      color: #fff;
     
}

.cur{
	background: #D96C00;
	height: 28px;
	
}
#ullist li:hover{
	background: #E67E22;
	color: #FFFFFF;
}

.zzsc{ width:1002px; height:500px; border:1px solid #ff0000; margin:10px auto; position:relative; overflow:hidden;}
.zzsc:hover li{ background:#000;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
.zzsc:hover img{ opacity:0.5;filter:alpha(opacity=50);-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
.zzsc li:hover img{ opacity:1;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
.zzsc01{ width:667px; height:332px; position:absolute; left:0; top:0;}
.zzsc02{ width:333px; height:165px; position:absolute; left:0; bottom:0;}
.zzsc03{ width:165px; height:165px; position:absolute; left:335px; bottom:0;}
.zzsc04{ width:165px; height:165px; position:absolute; left:503px; bottom:0;}
.zzsc05{ width:332px; height:165px; position:absolute; right:0; top:0;}
.zzsc06{ width:332px; height:332px; position:absolute; right:0; bottom:0;}

#totop{
	width: 40px;
	height: 40px;
	background: #E0690C;
	position: fixed;
	bottom: 10px;
	right: 10px;
	opacity: 0.7;

}


.tw{
	width: 80%;
	margin: 0 auto;
	
}
/*.tw li{
	width: 100%;
	height: 200px;
}
*/

.tw li img{
	width: 100%;
	height:500px;
}
